*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

section{
    height: 100vh;
    display: flex;

    scroll-snap-align: start;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.one{
    background-color: #1A5276;
    display: block;
    text-align: center;
    padding-top: 50vh;
}
.two{
    background-color: #76448A;
    display: block;
    text-align: center;
    padding-top: 50vh;
}
.three{
    background-color: #008080;
    display: block;
    text-align: center;
    padding-top: 50vh;
}
.four{
    background-color: #283747;
    display: block;
    text-align: center;
    padding-top: 50vh;
}
